<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.light.css" />

    <title>Document</title>
</head>
<body>
    <dx-file-manager id='dx-file-manager' [fileSystemProvider]="customProvider">
        <dxo-permissions 
        [create]="true"
        [copy]="true"
        [download]="true"
        [move]="true"
        [rename]="true"
        [upload]="true">
    </dxo-permissions>
    </dx-file-manager>
</body>
</html>